# Core Frameworks
Django==5.0.6
djangorestframework==3.15.1

# Database & Production
psycopg2-binary==2.9.12
gunicorn==21.2.0

# Authentication & Security
django-cors-headers==4.3.1
python-dotenv==1.0.1

# Utilities
whitenoise==6.6.0
Pillow==12.2.0

requests==2.32.3
groq==0.18.0
httpx==0.27.0
httpcore==1.0.5









