.home {
  background-color: #ffebeb;
  padding: 128px 16px 80px;
  height: 628px;
}

.tagline-pill {
  font-weight: 500;
  color: #cc1400;
  font-size: 14px;
  line-height: 20px;
  background-color: #ffdfdc;
  display: inline-flex;
  height: 36px;
  line-height: 24px;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 9999px;
}

.left-landing h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  display: block;
  height: 180px;
  margin-block-start: 24px;
  margin-top: 24px;
}

.left-landing p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #808080;
  height: 56px;
  margin-block-start: 24px;
  margin-top: 24px;
  display: block;
}

.right-landing{
  height: 315.188px;
  max-width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
  width: 560.333px;

}